{% load humanize %}
<div class="relative break-inside-avoid">
  <!-- <div class="absolute top-2 z-10 left-1/2 -translate-x-1/2 flex items-center -space-x-2">
    <div class="w-[3rem] h-8 bg-gray-200 rounded-md opacity-80 -rotate-90"></div>
    <div class="w-[3rem] h-8 bg-gray-200 rounded-md opacity-80 -rotate-90"></div>
  </div> -->
  <div class="relative top-5 bg-gray-200 shadow-md rounded-lg mb-6 break-inside-avoid flex flex-col border-2 border-gray-400 transform rotate-1 hover:rotate-0 transition-transform duration-300">
      
    <!-- Bagian atas dengan abu-abu tua -->
    <div class="bg-gray-700 text-gray-100 p-4 rounded-t-lg border-b-2 border-gray-500">
      <h3 class="font-bold text-xl mb-2">{{ product_entry.name }}</h3>
      <p class="text-gray-300">Rp{{ product_entry.price|intcomma }}</p>
    </div>

    <!-- Bagian bawah dengan abu-abu muda -->
    <div class="bg-gray-300 p-4">
      <p class="font-semibold text-lg mb-2">Description</p> 
      <p class="text-gray-600 mb-2">
        {{ product_entry.description }}
      </p>
      <div class="mt-4">
        <p class="text-gray-600 font-semibold mb-2">Kuantitas</p>
        <div class="relative pt-1">
          <div class="flex mb-2 items-center justify-between">
            <div>
              <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-gray-700 bg-gray-400">
                {{ product_entry.quantity }}
              </span>
            </div>
          </div>
          <div class="overflow-hidden h-2 mb-4 text-xs flex rounded bg-gray-400">
            <div style="width:{{ product_entry.quantity }}%;" class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-gray-600"></div>
          </div>
        </div>
      </div>

      <!-- Tombol-tombol di bawah slider kuantitas -->
      <div class="flex justify-between mt-4 space-x-2">
        <a href="{% url 'main:edit_product' product_entry.pk %}" class="bg-indigo-800 hover:bg-gray-600 text-white font-bold py-2 px-4 w-full text-center rounded-lg transition duration-300 shadow-md">
          Edit Product
        </a>
        <a href="{% url 'main:delete_product' product_entry.pk %}" class="bg-red-800 hover:bg-red-900 text-white font-bold py-2 px-4 w-full text-center rounded-lg transition duration-300 shadow-md">
          Delete Product
        </a>
      </div>
    </div>
  </div>
</div>
